<section class="container-fluid pt-5 mx-auto text-center">

	<%= render 'common/errors', model: @message %>

	<%= form_for(@message) do |f| %>

		<div class="field p-2">
			<%= f.label :Imię %><br>
			<%= f.text_field :name, class: "form-control"%>
		</div>

		<div class="field p-2">
			<%= f.label :Email %><br>
			<%= f.text_field :email, class: "form-control"%>
		</div>

		<div class="field p-2">
			<%= f.label :tekst %><br>
			<%= f.text_area :body, class: "form-control2"%>
		</div>

		<div class="pt-3 pb-2 captcha">
			<%= recaptcha_tags %>
		</div>

		<div class="actions pb-5">
			<%= f.submit "Wyślij", class: "btn_login" %>
		</div>

	<% end %>

</section>

<%= render 'shared/opinion' %>

<%= render 'shared/section_icons' %>
