<%= render 'common/errors', model: @comment %>

  <% if user_signed_in? %>

 <%= form_for [@article, @comment], url: article_comments_path(@article, @comment) do |f| %>

  <div class="form-group">
    <%= f.label :komentarz %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Utwórz komentarz', class: 'form-control' %>
  </div>
  
  <% end %>
<% end %>