<%= render 'common/errors', model: @comment %>

  <% if user_signed_in? %>

 <%= form_for [@article, @comment] do |f| %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'form-control' %>
  </div>
  
  <% end %>
<% end %>