<section class="container flex-column d-flex justify-content-center pt-5">

	<%= render 'common/errors', model: @comment %>

	 <%= form_for [@article, @comment] do |f| %>

	  <p class="pt-5">
	    <%= f.label :tekst %><br/>
	    <%= f.text_area :body %>
	  </p>

	  <p>
	    <%= f.submit "Aktualizuj", class: 'btn btn-success new_submit' %>
	  </p>
	  
	<% end %>

</section>