<div class="row" style="padding-top: 100px;">
  <div class="col"> </div>
    <div class="col-12">

        <h4>Najczęściej komentowanym artykułem jest <%= link_to @most_commented.title, article_path(@most_commented) %></h4>

          <%= link_to 'Nowy artykuł', new_article_path, class: "btn btn-primary" %> <hr/>

          <%= form_tag articles_path, method: :get do %>

            <div class="input-group">
              <%= text_field_tag :q, "", class: "form-control" %>

                <span class="input-group-btn">
                  <%= submit_tag "Wyszukaj", class: "btn btn-default" %>
               </span>

            </div>

          <% end %>

          <table>

              <thead>
                <tr>
                  <th>Tytuł</th>
                  <th>Tekst</th>
                  <th>Tags</th>
                  <th>Autor</th>
                  <th>Statystyki</th>
                  <th colspan="3">Opcje</th>
                </tr>	
              </thead>
              <tbody>

                <% @articles.each do |article| %>
                  
                  <tr class="<%= article.css_class %>"> 
                
                  <td><%= article.title %> </td>
                  <td><%= truncate(article.text, length: 25) %> </td>
                  <td> 
                    <% article.tags.each do |x| %>
                      <%= link_to x, articles_path(q: x), class: "badge badge-dark" %>
                      <!-- x - pojedyńczy tag, article_path - parametry np q:, params[x] -->
                    <% end %> 
                  </td> 
                  <td><%= article.user.email %> </td>

                  <td><%= link_to "Summary", article_path(article), class: "btn btn-info summary", id: "summary-#{article.id}" %></td>
         
                  <td><%= link_to 'Pokaż', article_path(article), class: "btn btn-primary" %></td> 

                    <% if article.user == current_user || current_user&.admin? %> 

                  <td>
                    <%= link_to 'Edytuj', edit_article_path(article), class: "btn btn-info" %>

                    <% end %>
                  </td> 

                  <td>
                    
                    <% if article.user == current_user || current_user&.admin? %> 
                    <%= link_to 'Usuń', article_path(article), method: :delete, 
                  data: {confirm: 'Czy na pewno usunąć?'}, class: "btn btn-danger" %>

                  </td>

                    <% end %>
                      
                  </td> 

                 </tr>
               <% end %>
              </tbody>
            </table>

      <%= paginate @articles, theme: 'twitter-bootstrap-4' %>

    </div>
  <div class="col"> </div>
</div>

