<section class="container-fluid pt-5 text-center">
  <div class="row">
      <div class="col-12">

          <p>
            <strong>Tytuł:</strong>
            <%= @article.title %>
          </p>
<!--           <p>
            <strong>Utworzono: </strong>
            <%= @article.created_at.strftime('%A %-B %-d, %Y | %l:%M %p') %>
          </p> -->

          <p>
            <% if @article.image.present? %>
              <%= image_tag @article.image_url, class: "responsive_img" %>
            <% else %>
              No image
            <% end %>
          </p>

          <p>
            <% if @article.image_second.present? %>
              <%= image_tag @article.image_second_url, class: "responsive_img" %>
            <% else %>
              No image
            <% end %>
          </p>
          <p>
            <% if @article.image_third.present? %>
              <%= image_tag @article.image_third_url, class: "responsive_img" %>
            <% else %>
              No image
            <% end %>
          </p>

          <p>
            <% if @article.image_fourth.present? %>
              <%= image_tag @article.image_fourth_url, class: "responsive_img" %>
            <% else %>
              No image
            <% end %>
          </p>

          <p>
            <% if @article.image_fifth.present? %>
              <%= image_tag @article.image_fifth_url, class: "responsive_img" %>
            <% else %>
              No image
            <% end %>
          </p>

          <p>
            <% if @article.image_sixth.present? %>
              <%= image_tag @article.image_sixth_url, class: "responsive_img" %>
            <% else %>
              No image
            <% end %>
          </p>


          <p>
            <strong>Opis: </strong>
            <%=sanitize @article.text %>
          </p>

          <% if sponsored_article? @article %>

            <h3>Artykuł sponsorowany przez firmę <%= @article.company.name %></h3>

          <% end %>


          <p><strong>Autor: </strong>

              <%= @article.user.email %>

          </p>

          <p><strong>Tags:</strong>

            <% @article.tags.each do |t| %>
            <%=link_to t, articles_path(q: t), class: "badge badge-dark"%>
      
          <% end %>

          </p>

          <%= pluralize(@article.likes_count, 'person')%> lubi ten artykuł

          <% if @like.persisted? %>

            <i class="fa fa-thumbs-down"></i>

            <%= link_to "Nie lubię", article_like_path(@article, @like), method: :delete, class: "btn btn-lg btn-info" %>

          <% else %>

            <i class="fa fa-thumbs-up"></i>

            <%= link_to "Lubię", article_likes_path(@article), method: :post, class: "btn btn-lg btn-info" %>

          <% end %>


          <% if sponsored_article? @article %>
            
            <p>Komentarze zablokowane</p>
            
          <% else %>

            <h2>Komentarze</h2>

              <button onclick="show_hide()">Pokaż/Ukryj</button><hr>
            
              <div id="hide">
                <%= render @article.comments.includes(:user) %>

                <%= render '/comments/form' %>

              </div>

          <% end %>

              <div>

                <%= link_to 'Powrót', articles_path, class: "btn btn-lg btn-primary" %>

              <% if @article.user == current_user && current_user&.admin? %> 

                <%= link_to 'Edytuj', edit_article_path(@article), class: "btn btn-lg btn-info" %>


                <%= link_to 'Usuń', article_path(@article), method: :delete, 
                          data: {confirm: 'Are you sure?'}, class: "btn btn-lg btn-danger" %>

              <% end %>

              <% if current_user&.admin? %>

                <%= link_to @article.published? ? "Nie publikuj" : "Publikuj", toggle_visibility_article_path(@article), class: "btn btn-lg btn-info" %>

              <% end %>

            </div>

      </div>
  </div>
</section>
