<h1>Widok</h1>

<p>
  <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
  <strong>Time: </strong>
  <%= @article.created_at.strftime('%A %-B %-d, %Y | %l:%M %p') %>
</p>

<p>
  <strong>Text: </strong>
    <%= @article.text %>
</p>

<p>
  <strong>Text: </strong>
    <%= @article.user.email %>
</p>

<p>
  <strong class="badge badge-primary">Tags: </strong>
    <%= @article.tags %>
</p>



<h2>Comments</h2>

<%= render @article.comments %>

<%= render '/comments/form' %>



<%= link_to 'Back', articles_path %>

<% if article.user == current_user && current_user.admin? %> 

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :delete, 
            data: {confirm: 'Are you sure?'} %>