<div class="container pt-5 text-center">

	  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        	<h2 class="form-signin-heading text-center">Zapomniałeś hasła?</h2>

			  <div class="pb-3">

			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>

			  </div>

          	  <div class="row correct text-center pb-3">
    
                <%= f.submit "Odzyskaj hasło", style:"background-color: #0f5b94;" %>

              </div>

			<% end %>

			<div class="pb-3">

				<%= render "devise/shared/links" %>

			</div>

	    </div>
	  <div class="col"> </div>
</div>

<%= render 'shared/opinion' %>

<%= render 'shared/section_icons' %>