<nav class="navbar navbar-expand-lg navbar-dark fixed-top pr-5 bg-dark">

      <div class="navbar-brand mx-auto" href="#" style="width:12rem;" >
        <%=link_to (image_tag '2.jpg', style:"width:100%;"), root_path %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Świat', articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
           <%= link_to 'Polska', articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Youtube', articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'O mnie', articles_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Kontakt', articles_path, class: 'nav-link' %>
          </li>

              <% if current_user && current_user.admin? %>

          <li class="nav-item">
            <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>

            <% elsif current_user %>

          <li class="nav-item">
            <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
            
            <% else %>

          <li class="nav-item">
            <%= link_to 'Zaloguj', new_user_session_path, class: 'nav-link'%>
          </li>

          <li class="nav-item">
              <%= link_to 'Utwórz konto', new_user_registration_path, class: 'nav-link'%>
          </li> 

          <% end %>
          
        </ul>

        <div class="navbar-nav form-inline mt-2 mt-md-0">

          <%= form_tag articles_path, method: :get do %>

            <div class="mr-sm-2">
              
              <%= text_field_tag :q, "", class: "form-control form2" %>

              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

            </div>

          <% end %>

        </div>

      </div>
</nav>