    <nav class="navbar navbar-expand-lg bg-dark navbar-light p-3 fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse justify-content-between" id="nav">
          <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to 'Świat', articles_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
               <%= link_to 'Polska', articles_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Youtube', "https://www.youtube.com/channel/UCd1UQnE4_p_lsIS5v4F7e0g?view_as=subscriber", target: :_blank, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'O mnie', about_index_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Kontakt', new_message_path, class: 'nav-link' %>
              </li>

              <% if current_user && current_user.admin? %>

              <li class="nav-item">
                <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>

                <% elsif current_user %>

              <li class="nav-item">
                <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            
              <% else %>

              <li class="nav-item">
                <%= link_to 'Zaloguj', new_user_session_path, class: 'nav-link'%>
              </li>

              <li class="nav-item">
                  <%= link_to 'Utwórz konto', new_user_registration_path, class: 'nav-link'%>
              </li> 

              <% end %>
          </ul>

              <form class="form-inline">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>  
              </form>      
        </div>     
    </nav>


<!--         <div class="navbar-nav form-inline mt-2 mt-md-0">
          <%= form_tag articles_path, method: :get do %>
            <div class="mr-sm-2">
              
              <%= text_field_tag :q, "", class: "form-control form2" %>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
          <% end %>
        </div> -->



      