 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <%= link_to 'Strona Główna', root_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Miasta', articles_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Kraje', articles_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Zdjęcia', articles_path, class: 'nav-link' %>
        </li>
  
        <li class="nav-item">
          <%= link_to '', articles_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Kontakt', articles_path, class: 'nav-link' %>
        </li>

          <% if current_user && current_user.admin? %>

          <li class="nav-item">
            <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>

            <% elsif current_user %>

          <li class="nav-item">
            <%= link_to 'Wyloguj', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
            
            <% else %>

          <li class="nav-item">
            <%= link_to 'Zaloguj', new_user_session_path, class: 'nav-link'%>
          </li>

          <li class="nav-item">
              <%= link_to 'Utwórz konto', new_user_registration_path, class: 'nav-link'%>
          </li>
          
            <% end %>
      </ul>

    </div>
</nav>
