    <section id="icons">

      <div class="container text-center font-italic">

        <h2 class="head"><strong>Podróże tu i tam</strong></h2>
          <p class="logo">Kuba, Chiny, Anglia, Belgia, Cypr, Izrael...</p>

            <div class="row">

              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag '2.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h3 class="pt-1">Londyn</h4>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%= image_tag 'kiszyniow.jpg', class:"img-fluid rounded-circle", style:"display:inline;"%>
                <h4 class="pt-1">Kiszyniów</h4>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%= image_tag 'louyang.jpg', class:"img-fluid rounded-circle", style:"display:inline;" %>
                <h4 class="pt-1">Pekin</h4>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%= image_tag 'jerozolima.jpg', class:"img-fluid rounded-circle", style:"display:inline;" %>
                <h4>Jerozolima</h4>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%= image_tag 'havana.jpg', class:"img-fluid rounded-circle", style:"display:inline;" %>
                <h4>Havana</h4>
              </div>

              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%= image_tag 'gdansk.jpg', class:"img-fluid rounded-circle", style:"display:inline;" %>
                <h4>Gdańsk</h4>
              </div>
              
            </div>
      </div>
  </section>