<div class="container flex-column text-center d-flex justify-content-center login">


  <div class="p-2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field p-2">
        <%= f.label :Email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field p-2">
        <%= f.label :Hasło %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field p-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, style: "height:50px;" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Zaloguj się", class: "btn_login" %>
      </div>
    <% end %>
  </div>

  <div class="p-5">
 <!--    <%= render "devise/shared/links" %> -->
  </div>

</div>


    <section id="icons">
      <div class="container text-center font-italic">
        <h2 class="head"><strong>Podróże tu i tam</strong></h2>
          <p class="logo">Kuba, Chiny, Anglia, Belgia, Cypr, Izrael...</p>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag '2.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h4 class="pt-1"><strong>Londyn</strong></h4>
                  <p class="last"><strong>Wielka Brytania</strong></p>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag 'kiszyniow.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h4 class="pt-1"><strong>Kiszyniów</strong></h4>
                  <p class="last"><strong>Mołdawia</strong></p>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag 'louyang.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h4 class="pt-1"><strong>Pekin</strong></h4>
                  <p class="last"><strong>Chiny</strong></p>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag 'jerozolima.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h4><strong>Jerozolima</strong></h4>
                  <p class="last"><strong>Izrael</strong></p>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag 'havana.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h4><strong>Havana</strong></h4>
                  <p class="last"><strong>Kuba</strong></p>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <%=link_to (image_tag 'gdansk.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
                <h4><strong>Gdańsk</strong></h4>
                  <p class="last"><strong>Polska</strong></p>
              </div>>
            </div>
      </div>
  </section>
