   <section id="about" class="bg-info pt-5">
      <div class="container-fluid pt-5">
        <div class="row align-itmes-center">
          <div class="col-sm-6 max-viewport">
          </div>
          <div class="col-sm-6">   
          </div>  
        </div>
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h1 class="text-danger mt-3">O mnie</h1>
          </div class="mt-5">
            <div class="d-flex mb-2">
              <i id="icon_two" class="material-icons text-danger" aria-hidden="true">android</i>   
              <p class="mb-2 p-2 text-white">Mieszkam w Rybniku. Ukończyłem studia na Uniwersytecie Opolskim na kierunku "Ekonomia" oraz w Państwowej Wyższej Szkole Zawodowej w Raciborzu na kierunku "Historia". W karierze zawodowej pracowałem m. in. jako kadrowiec, specjalista ds. zamówień publicznych, urzędnik oraz w zakresie projektów unijnych. Z drugiej strony zajmowałem się przez długie lata statystykom siatkarską w wielu polskich klubach. Hobbistycznie trenowałem rownież dzieciaki w szkole podstawowej.</p>
            </div>
            <div class="d-flex mb-2">
              <i id="icon_two" class="material-icons text-danger" aria-hidden="true">android</i>   
              <p class="mb-2 p-2 text-white">Początki z IT związane są z administracją stron www. oraz fanpagów różnych klubów siatkarkich oraz projektów unijnych w ktorych byłem zatrudniony. Z drugiej strony poznałem duże mozliwości IT podczas pracy jako statystyk - budowanie i utrzymywanie sieci LAN, obróbka graficzna, obsługaprogramów statystycznych itd.</p>
            </div>
            <div class="d-flex mb-2">
              <i id="icon_two" class="material-icons text-danger" aria-hidden="true">android</i>   
              <p class="mb-2 p-2 text-white">Od ponad roku zainteresowałem sie programowaniem. Początkowo pewnie jak większość HTML, CSS. Na chwilę obecną intensywnie studiuję framework Ruby on Rails oparty na języku Rubyoraz w wolnych chwilach Javascript, trochę jQuery oraz obowiązkowo technologie: Git, Github, system Linux<. Ponadto ukończyłem szkołe programowania CodeSensei w Krakowie - RoR, Ruby oraz we własnym zakresie rozwijał różne projekty (github/Jarek1983).</p>
            </div>
      </div>
      
    </section>

   <section id="qualites" class="py-5 bg-secondary">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-sm-12 col-md-6 col-lg-4 text-white my-3 d-flex">
                    <i class="fa fa-wrench fa-5x mr-3 align-self-center"></i>
                    <div>
                        <h2 class="my-3">Wykształcenie</h1>
							<p class="text-success">Ekonomia - wyższe</p>
							<p class="text-info">Historia - wyższe</p>
							<p class="text-danger">CodeSensei - programowanie</p>
							<p class="text-warning">Instruktor siatkówki</p>
							<p class="text-primary">Data Volley</p>
                    </div>  
                </div>
                 <div class="col-sm-12 col-md-6 col-lg-4 text-white my-3 d-flex">
                    <i class="fa fa-refresh fa-5x mr-3 align-self-center"></i>
                    <div>
                        <h2 class="my-3">Doświadczenie</h1>
							<p class="text-info">Programowanie</p>
							<p class="text-dark">Siatkówka</p>
							<p class="text-success">Administracja IT</p>
							<p class="text-primary">Edukacja</p>
							<p class="text-warning">Kadry</p>
                    </div>  
                </div>
                 <div class="col-sm-12 col-md-6 col-lg-4 text-white my-3 d-flex">
                    <i class="fa fa-camera-retro fa-5x mr-3 align-self-center"></i>
                    <div>
                        <h2 class="my-3">Zainteresowania</h1>
							<p class="text-center text-success">siatkówka</p>
							<p class="text-center text-warning">crossfit</p>
							<p class="text-center text-danger">kolarstwo</p>
							<p class="text-center text-info">piłka nożna</p>
							<p class="text-center text-primary">muzyka</p>
                    </div>  
                </div>                
            </div>
        </div>     
    </section>

    <section id="icons">
    	<div class="container text-center font-italic">
	    	<h2 class="head"><strong>Podróże tu i tam</strong></h2>
	    		<p class="logo">Kuba, Chiny, Anglia, Belgia, Cypr, Izrael...</p>
	    			<div class="row">
	    				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
	    					<%=link_to (image_tag '2.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
	    					<h4 class="pt-1"><strong>Londyn</strong></h4>
	    						<p class="last"><strong>Wielka Brytania</strong></p>
	    				</div>
	    				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
	    					<%=link_to (image_tag 'kiszyniow.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
	    					<h4 class="pt-1"><strong>Kiszyniów</strong></h4>
	    						<p class="last"><strong>Mołdawia</strong></p>
	    				</div>
	    				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
	    					<%=link_to (image_tag 'louyang.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
	    					<h4 class="pt-1"><strong>Pekin</strong></h4>
	    						<p class="last"><strong>Chiny</strong></p>
	    				</div>
	    				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
	    					<%=link_to (image_tag 'jerozolima.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
	    					<h4><strong>Jerozolima</strong></h4>
	    						<p class="last"><strong>Izrael</strong></p>
	    				</div>
	    				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
	    					<%=link_to (image_tag 'havana.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
	    					<h4><strong>Havana</strong></h4>
	    						<p class="last"><strong>Kuba</strong></p>
	    				</div>
	    				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
	    					<%=link_to (image_tag 'gdansk.jpg', class:"img-fluid rounded-circle", style:"display:inline;")%>
	    					<h4><strong>Gdańsk</strong></h4>
	    						<p class="last"><strong>Polska</strong></p>
	    				</div>>
	    			</div>
    	</div>
	</section>
